
profiles/*
attested_components/*
components/*
temp/*

espeakIPA/phonemes.txt

espeakIPA/phsource/*
espeakIPA/phsource
espeakIPA/dictsource/*
espeakIPA/dictsource

Anaconda Prompt.lnk
GoogleAuth/client_secret_850287127837-p47ef90pc534408aubh0q4m10d8cb4aj.apps.googleusercontent.com.json

GoogleAuth/halogen-oxide-403413-bf67fa95e791.json

ffmpeg.exe

ffprobe.exe

phoneme-Samples/Glossika/normalized_snips/

phoneme-Samples/Glossika/snips/

phoneme-Samples/Glossika/tight-snips/

phoneme-Samples/IPA/IPAWAV/

phoneme-Samples/IPA/JE/

phoneme-Samples/Glossika/Video/

phoneme-Samples/Glossika/wav-audio/

phoneme-Samples/Glossika/webm-audio/

phoneme-Samples/IPA/JH/

phoneme-Samples/IPA/JW/

phoneme-Samples/IPA/PL/

Downloaders/
